.custom-button {
  margin-bottom: 30px;
  background-color: #0C9085;
  color: #042F2E;
  border: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

h2 {
  margin: 0;
}
