<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons v-bottom"> home </i>
        Início
      </a>
      <a mat-list-item routerLink="/sensor">
        <i class="material-icons v-bottom"> sensors </i>
        Sensores
      </a>
       <a mat-list-item routerLink="/configuracao">
        <i class="material-icons v-bottom"> settings </i>
        Configurações
      </a>
      <a mat-list-item routerLink="/relatorios">
        <i class="material-icons v-bottom"> assessment </i>
        Relatórios
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
