.sidenav{
  width: 200px;
  background-color: #263238;
}

.sidenav a {
  color: #e0f7fa;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 12px;
}

.sidenav a:hover {
  background-color: #455a64;
}

.sidenav i {
  padding-right: 1px;
  vertical-align: bottom;
}

.content {
  padding: 24px;
  background-color: #eceff1; 
}
