.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #738392;
  padding: 10px 0;
  border-top: 2px solid #ccc;
}

.footer span {
  font-size: 1.2rem;
  font-weight: 300;
}

